.profile {

}
.userAvatar {
    border-radius: 100%;
    width: auto;
    height: auto;
}
.userAvatarAndInfo {
    border-bottom: solid black 2px;
}
.topBlock {
}
.userInfo {
    display: inline-block;
}
.taskList {
}
.albumsBar {
}
.albumCover {
    margin-top: 25px;
    margin-left: 25px;
}